altgraph==0.17.4
beautifulsoup4==4.12.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.7
idna==3.6
numpy==1.26.2
packaging==23.2
pandas==2.1.4
pdfminer.six==20221105
pdfplumber==0.10.3
pefile==2023.2.7
Pillow==10.1.0
pyarrow==14.0.1
pycparser==2.21
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.10
pypdfium2==4.25.0
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32-ctypes==0.2.2
requests==2.31.0
six==1.16.0
soupsieve==2.5
tzdata==2023.3
Unidecode==1.3.7
urllib3==2.1.0
